* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter Tight';
    font-size: 1.4rem;
}

.content{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    '. Hero'
    'Form Hero'
    'Form Hero'
    '.  Hero';
}

main{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 140px;
    display: block;
    grid-area: Form;
}

main form label {
    color: #757F93;
    font-size: 16px;
    font-weight: 500;
}

main h1{
    color: #101010;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

main h2{
    color: #757F93;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

main p {
    color: #757F93;
    margin-top: 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

main a {
    color: #0A66C2;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

main form {
    display: block;
    margin: 24px 0;
}

form input {
    padding: 16px 32px;
    align-items: center;
    display: block;
    width: 100%;
    gap: 10px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #A9A9A9;
    background: #FCFCFC;
}

input, #Password::placeholder {
    color: #D3D3D3;;
    font-size: 16px;
    font-weight: 400;
}

input, #mail::placeholder {
    color: #D3D3D3;;
    font-size: 16px;
    font-weight: 400;
}

input:enabled{
    color: #101010;
}

.button {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    display: flex;
    width: 100%;
    padding: 16px 32px;
    justify-content: center;
    align-self: stretch;
    border-radius: 8px;
    background: #0A66C2;
    transition-duration: 1s;
}

.button:hover {
    transition-duration: 1s;
    background: #298ef3;
}

.button-google{
    color: #757F93;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    display: flex;
    width: 100%;
    padding: 16px 32px;
    justify-content: center;
    background: none;
    border-radius: 8px;
    border: 2px solid #757F93;
    transition-duration: 1s;
}

.button-google:hover{
    transition-duration: 1s;
    background: rgb(202, 202, 202);
}

.button-google img {
    color: #757F93;
    margin-top: 2px;
    margin-left: 8px;
    width: 16px;
}

aside h1{
    z-index: 1;
    position: absolute;
    bottom: 40px;
    color: #EEE;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 40px;
}

aside {
    position: relative;
    height: 100vh;
    grid-area: Hero;
    display: block;
}

.linkedin-logo{
    margin: 0 40px;
    top: 40px;
    width: 120px;
    position: absolute;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .Hero {
    object-fit: cover;
    
} /*